<%layout("/layouts/biolerplate") %>
<body>
    <form method="POST" action="/tastytrove/new" novalidate class="needs-validation">
        <h1>Add New Menu</h1>
    <div class="row">
        <div class="col-8 offset-2">
        <div class="mb-3">
            <label for="name" class="form-label">Menu Name</label>
            <input type="text" id="name" name="listing[name]" class="form-control" placeholder="Enter Menu name" required>
            <div class="invalid-feedback">
                Menu name is required.
            </div>
        </div>
    
        <div class="mb-3">
            <label for="description" class="form-label">Menu Description</label>
            <textarea id="description" name="listing[description]" class="form-control" placeholder="Enter Menu description"></textarea>
            <div class="invalid-feedback">
                Menu description is required.
            </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Menu Image</label>
            <input type="text" id="image" name="listing[image]" class="form-control"  placeholder="Enter Menu image">
        </div>
    
        <div class="mb-3">
            <label for="price" class="form-label">Menu Price</label>
            <input id="price" name="listing[price]" class="form-control" placeholder="Enter Menu price">
            <div class="invalid-feedback">
                Menu price is required.
            </div>
        </div>
    
        <div class="mb-3">
            <label for="isAvailable" class="form-label">Menu Availability (True/False)</label>
            <input type="text" id="isAvailable" name="listing[isAvailable]" class="form-control" placeholder="Enter Menu Availability (True or False)">
            <div class="invalid-feedback">
                Menu Availablity is required.
            </div>
        </div>
    
        <div class="mb-3">
            <label for="rating" class="form-label">Menu Rating</label>
            <input type="number" id="rating" name="listing[rating]" class="form-control" placeholder="Enter Menu rating">
            <div class="invalid-feedback">
                Menu rating is required.
            </div>
        </div>
        <button type="submit" class="btn btn-dark edit-btn mt-3">Add</button>
        </div>
    </div>
    </form>
    <script src="/js/script.js"></script>
</body>
